.button{
  background-color: #910101;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom:15px;
  border-radius: 25%;
  font-family: Helvetica;
}
.button:hover{
        background-color: #b00000;
}

.imageRound {
        border-radius: 20px;
}

.imageRound img{
        width: auto;
}
img{
  border-radius:0%;
}
